@model Forum.Models.PasswordResetViewModel
@{
    ViewBag.Title = "New Password | Fudge Forum";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Reset Password</h2>
@if (Request.Cookies["FFReset"] != null && String.Compare(Request.Cookies["FFReset"].Value, "True", false) == 0)
{
    <form id="frmReset">
        <p>
            @Html.HiddenFor(model => model.Token)
        Password: @Html.PasswordFor(model => model.Password)<br />
        Confirm: @Html.PasswordFor(model => model.Confirm)
    </p>

    <p><input type="button" id="btnReset" value="Reset Password" /></p>
</form>

<script>
    $("#btnReset").on("click", function() {
        var Password = $("#Password").val();
        var Confirm = $("#Confirm").val();
        var Token = $("#Token").val();

        var User = { "Token": Token, "Password": Password, "Confirm": Confirm };

        $.post("/User/NewPassword", User, function(data) {
            if (data.IsOK)
            {
                alert("Your password has been reset.\nYou will now be redirected back to the home page.");
                location.href = '@Url.Content("~/")';
            }

        });
    });
</script>
}
else
{
    <p>It looks like you've tried to reset your password incorrectly.<br />
        Please @Html.ActionLink("click here", "ResetPassword") if you'd like to reset your password.</p>
    <p>@Html.ActionLink("Click here", "Index", "Home") if you'd like to go back to the home page</p>
}
